<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="error">
            <form action="/day_error" method="post">
                <div class="error-content">
                    <h2>That is not a valid day!!!</h2>
                    <img src="https://raw.githubusercontent.com/MatiasRGT/img_resources/main/cats/grumpy-cat.jpg" alt="Grumpy Cat" />
                    <h4>That's why I don't trust users</h4>
                    <button type="submit">Go back</button>
                </div>
            </form>
        </div>
    </body>
</html>
